<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>447278892031-utjebfm2htr6drcb6vt6k0dujk3ml60a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.447278892031-utjebfm2htr6drcb6vt6k0dujk3ml60a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>447278892031-4h9mgt0cah9ps3a6sc0fs9llt4f9qdta.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAeyW1JekcPtKGHIPalac-YfuS489ks9BE</string>
	<key>GCM_SENDER_ID</key>
	<string>447278892031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rendo.app.iosApp</string>
	<key>PROJECT_ID</key>
	<string>rendo-ef69d</string>
	<key>STORAGE_BUCKET</key>
	<string>rendo-ef69d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:447278892031:ios:26900767a48532306bddca</string>
</dict>
</plist>